.pageTitle {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 4em;
}

.pageLogo {
    width: 100px;
    height: 100px;
}
.nav-link{
    font-size: 1.75em;
    background-color: #EDEDED;
    color: #171717;
    border: 0;
}
.carousel-caption{
    position: absolute;
    top: 40%;
    right: 20%;
    bottom: 25%;
    left: 20%;
}
.titleSlide{
    text-align: start;
    margin: 6px;
}
.desc{
    text-align: start;
    font-size: 1.2em;
    color: #EDEDED;
}
.genre{
 text-align: start;
 color: #DA0037;
 font-weight: bold;
}
.rating{
    font-size: large;
}
.trailer{
    margin-left: 20px;
    color: #EDEDED;
}
.playIcon{
    position: relative;
    display: inline-flex;
    vertical-align: middle;
}
.poster{
    opacity: 75%;
}
main{
    background-color: #444444;
    color: #EDEDED;
}
body{
    background-color: #EDEDED;
}
header{
    background-color: #444444;
}
.footer{
    color: #171717;
}
.mainMenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid red;
}
.menuItem{
    color: #444444;
}
.imgMovie {
    width: 400px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.movie {
    margin: 10px;
    color: #EDEDED;
}
.modal-content{
    background-color: #444444;
    color: #EDEDED;
}
.netflixLink{
    color: #DA0037;
    font-size: 1.2em;
    text-decoration: none;
}
.buttons{
    display: flex;
    justify-content: center;
    align-content: center;
}
.buttonsButton{
    margin-right: 45px;
    margin-bottom: 10px;
}