.pageTitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: italic;
    text-align: center;
    font-size: 35px;
    float: left;
}

.pageLogo {
    width: 75px;
    height: 75px;
}

.nav-link {
    font-size: 1.75em;
    background-color: #EDEDED;
    color: #171717;
    border: 0;
}

.carousel-caption {
    position: absolute;
    top: 40%;
    right: 20%;
    bottom: 25%;
    left: 20%;
}

.titleSlide {
    text-align: start;
    margin: 6px;
}

.desc {
    text-align: start;
    font-size: 1.2em;
    color: #EDEDED;
}

.genre {
    text-align: start;
    color: #DA0037;
    font-weight: bold;
}

.rating {
    font-size: large;
}

.trailer {
    margin-left: 20px;
    color: #EDEDED;
}

.playIcon {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
}

.poster {
    opacity: 75%;
}

main {
    background-color: #393E46;
    color: #EDEDED;
}

body {
    background-color: #EDEDED;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;

}

header {
    background-color: #444444;
}

.footer {
    color: #171717;
    margin-top: 20px;
}

.mainMenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid red;
}

.menuItem {
    color: #444444;
    text-decoration: none;
    font-size: 20px;
}

.menuItem:hover {
    color: #DA0037;
    font-size: 18px;
}

.movie {
    height: 315px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px;
    border-radius: 16px;
    display: flex;
    margin: 45px;
}

.modal-content {
    background-color: #444444;
    color: #EDEDED;
}

.booking {
    padding-left: 37.5%;
    padding-right: 37.5%;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.findMyBooking {
    padding-top: 5%;
    padding-bottom: 5%;
    width: 75%;
    padding-left: 5%;
}
.movieName {
    text-align: center;
    font-weight: 200;
    font-style: italic;
    font-size: 18px;
    font-family: 'poppins', sans-serif;
    
}
.movieInfo {
    display: none;
}

.movie:hover {
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
}

.movie:hover .movieInfo {
    color: #EDEDED;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
}