{% extends 'base.html' %}
{% load crispy_forms_tags %}
    {% block content %}
        <form class="searchBooking" action='' method="post">
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" value="Search Booking" name="bookingSearch"/>
        </form>
            <h2>Name: {{booking.name}}</h2>
            <h2>Email: {{booking.email}}</h2>
            <h2>Time: {{ booking.showingTime|date:"h:i A" }}</h2>
            <h2>Class: {{booking.bookingClass}}</h2>
            <h2>Payment: {{booking.paymentMethod}}</h2>
    {% endblock %}